
 #ingles1{
 	background-color: darkgreen;
 	text-align: center;
 }

 #sox1{
 	background-color: purple;
 	text-align: center;
 }

 #sox2{
 	background-color: purple;
 	text-align: center;
 }

 #apweb1{
 	background-color: green;
 	text-align: center;
 }

 #apweb2{
 	background-color: green;
 	text-align: center;
 }

 #SX1{
 	background-color: orange;
 	text-align: center;
 }

 #patio1{
 	text-align: center;
 }

 #sx2{
 	background-color: orange;
 	text-align: center;
 }

 #ingles2{
 	background-color: darkgreen;
 	text-align: center;
 }

 #eie1{
 	background-color: red;
 	text-align: center;
 }

 #sox3{
 	background-color: purple;
 	text-align: center;
 }

 #si1{
 	background-color: blue;
 	text-align: center;
 }

 #sx3{
 	background-color: orange;
 	text-align: center;
 }

 #sx4{
 	background-color: orange;
 	text-align: center;
 }

 #patio2{
 	text-align: center;
 }

 #si2{
 	background-color: blue;
 	text-align: center;
 }

 #sx5{
 	background-color: orange;
 	text-align: center;
 }

 #si3{
 	background-color: blue;
 	text-align: center;
 }

 #sx6{
 	background-color: orange;
 	text-align: center;
 }

 #sox4{
 	background-color: purple;
 	text-align: center;
 }

 #sox5{
 	background-color: purple;
 	text-align: center;
 }

 #eie2{
 	background-color: red;
 	text-align: center;
 }